.cp {
  width: 100%;
  height: 382px;
  margin-top: 50px;
  margin-bottom: 64px;
}
.cp .neirong {
  font-family: "思源黑体";
  width: 1171px;
  margin: 0 auto;
  height: 382px;
}
.cp .neirong .t1 {
  font-size: 28px;
  color: #26938c;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.cp .neirong .t2 {
  font-size: 20px;
  color: #575656;
  line-height: 60px;
  margin-bottom: 50px;
}
.cp .neirong .box {
  position: relative;
  width: 100%;
  height: 224px;
}
.cp .neirong .box .readmore {
  position: absolute;
  bottom: 0px;
  left: 553.5px;
  width: 64px;
  height: 42px;
  line-height: 39px;
  background-color: #26938c;
  display: block;
  border-radius: 25px;
  text-align: center;
}
.cp .neirong .box .readmore span {
  font-size: 42px;
  color: #FFF;
}
.cp .neirong .box .product {
  float: left;
  width: 20.8%;
  height: 62px;
  margin-right: 5.6%;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 8px;
  padding-left: 3px;
  margin-bottom: 20px;
  position: relative;
}
.cp .neirong .box .product:nth-child(4) {
  margin-right: 0px;
}
.cp .neirong .box .product:nth-child(8) {
  margin-right: 0px;
}
.cp .neirong .box .product img {
  position: absolute;
  bottom: 0px;
  width: 72px;
  height: 72px;
}
.cp .neirong .box .product span {
  margin-left: 82px;
  width: 70%;
  font-size: 15px;
  font-weight: bold;
  color: #444242;
  line-height: 50px;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .cp {
    width: 483px;
    height: 300px;
    margin-bottom: 0px;
  }
  .cp .neirong {
    width: 483px;
    margin: 0 auto;
    height: 300px;
  }
  .cp .neirong .t2 {
    margin-bottom: 10px;
  }
  .cp .neirong .box {
    position: relative;
    width: 483px;
    height: 300px;
    overflow: hidden;
  }
  .cp .neirong .box .readmore {
    position: absolute;
    left: 209.5px;
  }
  .cp .neirong .box .readmore span {
    font-size: 42px;
    color: #FFF;
  }
  .cp .neirong .box .product {
    float: left;
    width: 100%;
    height: 100px;
    margin-right: 0;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 8px;
    padding-left: 3px;
    margin-bottom: 20px;
  }
  .cp .neirong .box .product:nth-child(3) {
    display: none;
  }
  .cp .neirong .box .product:nth-child(4) {
    display: none;
  }
  .cp .neirong .box .product:nth-child(5) {
    display: none;
  }
  .cp .neirong .box .product:nth-child(6) {
    display: none;
  }
  .cp .neirong .box .product:nth-child(7) {
    display: none;
  }
  .cp .neirong .box .product:nth-child(8) {
    display: none;
  }
  .cp .neirong .box .product img {
    position: absolute;
    bottom: 0px;
    width: 100px;
    height: 100px;
  }
  .cp .neirong .box .product span {
    margin-left: 140px;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    color: #444242;
    line-height: 80px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 1px;
  }
}
